# Editor stuff
.*.swp

# Build output
*.so
*.o
.deps/

/sql/test_factory--*
!/sql/test_factory--*--*.sql
/sql/test_factory_pgtap--*
!/sql/test_factory_pgtap--*--*.sql

# Test artifacts
results/
regression.diffs
regression.out

# Misc crap
.DS_Store
tmp/
